---
import Layout from '../layouts/Layout.astro';
import NextMatch from '../sections/NextMatch.astro';
---

<Layout title="Black Flag Gaming | Partidos">

<main class="mb-24 mt-24">
    <NextMatch />
</main>
</Layout>