---
import Layout from '../layouts/Layout.astro'
import Image from 'astro/components/Image.astro'
import { sMediaInsta, sMediaX } from '../assets/index'
---

<Layout title='Black Flag Gaming | Redes'>
  <main
    class='flex flex-col items-center justify-center space-y-5 m-12 animate-fade-in'
  >
    <h2 class='text-2xl font-semibold'>Seguinos en nuestras redes</h2>
    <p class='text-slate-400'>
      Mantenete al tanto de las ultimas novedades del equipo!
    </p>

    <div class='flex items-center justify-center gap-x-28 py-20'>
      <div class='space-y-8 text-sm text-center'>
        <a
          href='https://www.instagram.com/blackflaggaminglol/'
          target='_blank'
          rel='noopener'
          ><Image
            src={sMediaInsta}
            alt='black flag instagram'
            class='w-96 rounded-sm hover:scale-105 hover:shadow-md hover:shadow-primary-l-blue transition-transform'
          />
        </a>
        <p>BFG Instagram</p>
      </div>

      <div class='space-y-8 text-sm text-center'>
        <a href='https://x.com/blackflagge' target='_blank' rel='noopener'
          ><Image
            src={sMediaX}
            alt='black flag X'
            class='w-96 rounded-sm hover:scale-105 hover:shadow-md hover:shadow-primary-l-blue transition-transform'
          /></a
        >
        <p>BFG X (twitter)</p>
      </div>
    </div>
  </main>
</Layout>
