---
import LogoBFG from "../components/LogoBFG.astro";


---



	<main class="items-center justify-center m-8 flex flex-col">
		
		<div class="w-96 items-center justify-center space-y-6">
			<h1 class="text-xl text-center font-semibold  delay-700 tracking-[.28em] entrance"
			>ESPORTS</h1>
			<LogoBFG />
		</div>
	</main>




