<header class="w-full h-16 bg-transparent">
  <nav class="w-full max-w-[1440px] mx-auto flex items-center justify-between px-6 py-4 bg-transparent text-white h-16">

    <div
      class={`absolute top-16 left-0 w-full bg-transparent text-white flex flex-col space-y-2 pb-1 px-6 md:relative md:top-0 md:flex md:flex-row md:items-center md:space-y-0 md:space-x-6 md:w-auto `}
    >
      <ul class="flex gap-x-5 justify-between">
          <li><a href="/" class="custom-link">Home</a></li>
          <li><a href="/partidos" class="custom-link">Partidos</a></li>
          <li><a href="/players" class="custom-link">Jugadores</a></li>
          <li><a href="" class="custom-link">About</a> </li>
      </ul>
    </div>
  </nav>
</header>

<style>
  .custom-link {
    @apply text-white hover:text-cyan-300;
  }
</style>